/* src/components/BookingForm.css */

h2 {
  color: #333;
}

.booking-form-container {
  max-width: 450px;
  margin: 0 auto;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px; /* Add space below the label */
}

.bookingForm-input {
  width: calc(100% - 140px);
  padding: 8px;
  margin-bottom: 10px;
  margin-left: 20px;
}

button {
  padding: 8px 16px;
  font-size: 1rem;
  background-color: #e74c3c;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #c0392b;
}

@media screen and (max-width: 600px) {
  .booking-form-container {
    width: 50%;
  }
}
